<div class="row g-4 pt-2">
    <div class="col-6">
<div  class=" rounded-3  first-p ">
    <img src="assets/ecommerce.png" alt="" class="rounded-2">
    <div class="overlay text-center">
        <div class="d-flex justify-content-center align-items-center gap-2">
        <a href="https://6607cc07c09bc5be3a98c09e--fresh-cart-web.netlify.app/"  target="_blank"     class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
        <a href="https://6607cc07c09bc5be3a98c09e--fresh-cart-web.netlify.app/home"    target="_blank"    class="text-decoration-none"> <i class="fa-solid fa-paperclip" style="color: #74C0FC;"></i></a>
    </div>
    <p class="title"> Ecommerce (fresh cart)</p>
    </div>
</div>

    </div>



    
   


    


</div>
