<div class="all-scroll">
<div class="row g-4  ">
    <div class="col-6">
<div  class=" rounded-3  first-p ">
    <img src="../../assets/images/bakery.png" alt="" class="rounded-2">
    <div class="overlay text-center">
        <div class="d-flex justify-content-center align-items-center gap-2">
        <a href="https://hagarmohamed124.github.io/Bakery/"  target="_blank"     class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
        <a href="https://github.com/hagarmohamed124/Bakery"    target="_blank"    class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
    </div>
    <p class="title">Bakery</p>
    </div>
</div>

    </div>
    <div class="col-6">
<div  class=" rounded-3  first-p ">
    <img src="../../assets/images/catpets.png" alt="" class="rounded-2">
    <div class="overlay  text-center ">
        <div class="d-flex justify-content-center align-items-center gap-2">
        <a href="https://hagarmohamed124.github.io/petsShop/"  target="_blank"  class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
        <a href="https://github.com/hagarmohamed124/petsShop" target="_blank"   class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
    </div>
    <p class="title">petsShop</p>
    </div>
</div>

    </div>
    <div class="col-6">
<div  class=" rounded-3  first-p ">
    <img src="../../assets/images/alxt.png" alt="" class="rounded-2">
    <div class="overlay text-center">
        <div class="d-flex justify-content-center align-items-center gap-2">
        <a href="https://hagarmohamed124.github.io/static-landing-page/"  target="_blank"  class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
        <a href="https://github.com/hagarmohamed124/static-landing-page" target="_blank"   class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
    </div>
    <p class="title">static landing page</p>
    </div>
</div>

    </div>

    <div class="col-6">
        <div  class=" rounded-3  first-p ">
            <img src="../../assets/images/CONSTRUCTIONRUCTION.png" alt="" class="rounded-2">
            <div class="overlay text-center">
                <div class="d-flex justify-content-center align-items-center gap-2">
                <a href="https://hagarmohamed124.github.io/CONSTRUCTIONRUCTION/"  target="_blank"     class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
                <a href="https://github.com/hagarmohamed124/CONSTRUCTIONRUCTION"    target="_blank"    class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
            </div>
            <p class="title">Company</p>
            </div>
        </div>
        
            </div>
      
            <div class="col-6">
        <div  class=" rounded-3  first-p ">
            <img src="../../assets/images/danail.png" alt="" class="rounded-2">
            <div class="overlay text-center">
                <div class="d-flex justify-content-center align-items-center gap-2">
                <a href="https://hagarmohamed124.github.io/Daniels-landing-page/"  target="_blank"  class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
                <a href="https://github.com/hagarmohamed124/Daniels-landing-page" target="_blank"   class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
                </div>
                <p class="title">Daniels-Portfolio</p>
            </div>
        </div>
        
            </div>
        
            <div class="col-6">
        <div  class=" rounded-3  first-p ">
            <img src="../../assets/images/Mealify.png" alt="" class="rounded-2">
            <div class="overlay text-center">
                <div class="d-flex justify-content-center align-items-center gap-2">
                <a href="https://hagarmohamed124.github.io/Mealify/"  target="_blank"  class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
                <a href="https://github.com/hagarmohamed124/Daniels-landing-page" target="_blank"   class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
            </div>
            <p class="title">Mealify</p>
            </div>
        </div>
        
            </div>
        
            <div class="col-6">
                <div  class=" rounded-3  first-p ">
                    <img src="../../assets/images/weather api.png" alt="" class="rounded-2">
                    <div class="overlay text-center">
                        <div class="d-flex justify-content-center align-items-center gap-2">
                        <a href="https://hagarmohamed124.github.io/WeatherAppUsingApi/"  target="_blank"     class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
                        <a href="https://github.com/hagarmohamed124/WeatherAppUsingApi"    target="_blank"    class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
                    </div>
                    <p class="title">WeatherApp (api)</p>
                    </div>
                </div>
                
                    </div>
                    <div class="col-6">
                <div  class=" rounded-3  first-p ">
                    <img src="../../assets/images/bookmarker.png" alt="" class="rounded-2">
                    <div class="overlay text-center">
                        <div class="d-flex justify-content-center align-items-center gap-2">
                        <a href="https://hagarmohamed124.github.io/Bookmarker-crud-/"  target="_blank"  class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
                        <a href="https://github.com/hagarmohamed124/Bookmarker-crud-" target="_blank"   class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
                    </div>
                    <p class="title">Bookmarker(Crud)</p>
                    </div>
                </div> 
                    </div>
                
                    <div class="col-6">
                <div  class=" rounded-3  first-p ">
                    <img src="../../assets/images/login.png" alt="" class="rounded-2">
                    <div class="overlay text-center">
                  <div class="d-flex justify-content-center align-items-center gap-2">
                        <a href="https://hagarmohamed124.github.io/loginSystem22/signup.html"  target="_blank"  class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
                        <a href="https://github.com/hagarmohamed124/loginSystem22" target="_blank"   class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
                    </div>
                    <p class="title">Login System</p>
                
                    </div>
                </div>
                
                    </div>
                

                    <div class="col-6">
                <div  class=" rounded-3  first-p ">
                    <img src="../../assets/images/party2.png" alt="" class="rounded-2">
                    <div class="overlay text-center ">
                        <div class="d-flex justify-content-center align-items-center gap-2">
                        <a href="https://hagarmohamed124.github.io/EgyptianParty/"  target="_blank"  class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
                        <a href="https://github.com/hagarmohamed124/EgyptianParty" target="_blank"   class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
                        </div >
                
                <p class="title">Egyptian Party </p>
                
                         </div>
                </div>
                
                    </div>
                
                

                    <div class="col-6">
                        <div  class=" rounded-3  first-p ">
                            <img src="../../assets/images/ecommerce.png" alt="" class="rounded-2">
                            <div class="overlay text-center">
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                <a href="https://6607cc07c09bc5be3a98c09e--fresh-cart-web.netlify.app/"  target="_blank"     class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
                                <a href="https://github.com/hagarmohamed124/ecommerce"    target="_blank"    class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
                            </div>
                            <p class="title"> Ecommerce (fresh cart)</p>
                            </div>
                        </div>
                        
                            </div>
                        

                            <div class="col-6">
                                <div  class=" rounded-3  first-p ">
                                    <img src="../../assets/images/portifilo.png" alt="" class="rounded-2">
                                    <div class="overlay text-center">
                                        <div class="d-flex justify-content-center align-items-center gap-2">
                                        <a href="https://portfolio-rose-ten-56.vercel.app/"  target="_blank"     class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
                                        <a href="https://github.com/hagarmohamed124/portfolio"    target="_blank"    class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
                                    </div>
                                    <p class="title"> Portfolio using angular</p>
                                    </div>
                                </div>
                                
                                    </div>


    


</div>
</div>


