<div class="row g-4 pt-2">
    <div class="col-6">
<div  class=" rounded-3  first-p ">
    <img src="../../assets/images/bakery.png" alt="" class="rounded-2">
    <div class="overlay text-center">
        <div class="d-flex justify-content-center align-items-center gap-2">
        <a href="https://hagarmohamed124.github.io/Bakery/"  target="_blank"     class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
        <a href="https://github.com/hagarmohamed124/Bakery"    target="_blank"    class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
    </div>
    <p class="title">Bakery</p>
    </div>
</div>

    </div>
    <div class="col-6">
<div  class=" rounded-3  first-p ">
    <img src="../../assets/images/catpets.png" alt="" class="rounded-2">
    <div class="overlay  text-center ">
        <div class="d-flex justify-content-center align-items-center gap-2">
        <a href="https://hagarmohamed124.github.io/petsShop/"  target="_blank"  class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
        <a href="https://github.com/hagarmohamed124/petsShop" target="_blank"   class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
    </div>
    <p class="title">petsShop</p>
    </div>
</div>

    </div>
    <div class="col-6">
<div  class=" rounded-3  first-p ">
    <img src="../../assets/images/alxt.png" alt="" class="rounded-2">
    <div class="overlay text-center">
        <div class="d-flex justify-content-center align-items-center gap-2">
        <a href="https://hagarmohamed124.github.io/static-landing-page/"  target="_blank"  class="text-decoration-none"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a>
        <a href="https://github.com/hagarmohamed124/static-landing-page" target="_blank"   class="text-decoration-none"> <i class="fa-solid fa-code" style="color: #74C0FC;"></i></a>
    </div>
    <p class="title">static landing page</p>
    </div>
</div>

    </div>



    


</div>
