<ul class="d-flex justify-content-around list-unstyled fw-bold  projectList pt-4 ">
    <li >
        <a routerLink="all" class=" text-decoration-none" routerLinkActive="text-primary shadow"> All </a>
       
    </li>
    <li >
        <a routerLink="htmlCss" class="text-decoration-none active" routerLinkActive="text-primary shadow"> HTML5 & CSS3</a>
       
    </li>
    <li>
        <a routerLink="bootstrap" class="text-decoration-none " routerLinkActive="text-primary shadow">Bootstrap</a>

    </li>
    <li>
        <a  class="text-decoration-none "  routerLink="js" routerLinkActive="text-primary shadow"> JQuery & Js </a>
    </li>
    <li>
        <a routerLink="angular" class="text-decoration-none " routerLinkActive="text-primary shadow"> Angular</a>
    </li>
    
</ul>
<div>
    <router-outlet></router-outlet>
</div>
