
<ul class="list-unstyled ps-4 contact-det">
    <li>
        <span>  <i class="fa-solid fa-check"></i></span>
      
        
        Mobile:   <span class=" ps-2 fw-bold"> 050 331 4759</span>
    
    </li>
    <li>
        <span>  <i class="fa-solid fa-check"></i></span>
      
        
        E-mail:  
        <a href="mailto:hagar.mohmd.4@gmail.com" target="_blank" class="email  ps-2  fw-bold">
            hagar.mohmd.4&#64;.com
          </a>
    
    </li>
    <li>
        <span>  <i class="fa-solid fa-check"></i></span>
      
        
        LinkedIn:  
        <a href="https://www.linkedin.com/in/hagar-mohamed-b491b414a/" target="_blank" class="email   ps-2  fw-bold">
            https://www.linkedin.com/in/hagar-mohamed-b491b414a/
          </a>
    
    </li>

    <li >
        <i class="fa-solid fa-check "></i>
        Address:   <span class="text-secondary ps-2 fw-bold " > Madina, Saudi Arabia</span>
     </li>
</ul>