<div >
    <div class="d-flex edu-sec">
        <img src="assets/sha.png" alt="">
        <div class="sha-div">
            <h5>
                El Shorouk Academy</h5>
            <p class="fw-bold">Bachelor of Computer and Control Engineering</p>
            <span>2023</span>
        </div>
    </div>
    <div class="d-flex ">
        <img src="assets/nti.png" alt="">
        <div class="sha-div nti-div">
            <h5>
                National Telecommunication Institute (NTI)</h5>
            <p class="fw-bold">Web Design</p>
            <p class="details">HTML5 , CSS3 , JavaScript , Bootstrap </p>
            <span>2023</span>
        </div>
    </div>
</div>

