<div class="px-4">
    <p>With <b>more than 6 months</b> of training experience as a <b>fornt-end web developer </b> and certification <b> as a Computer Engineer</b>  accredited by <b>the Saudi Council of Engineers</b> , I bring a passion for crafting web applications, designing user interfaces, maintaining clean code, and achieving tasks with efficiency. My expertise spans <b>front-end technologies </b> including <b>HTML, CSS, JavaScript, Bootstrap, Angular , Figma </b> . Thriving within collaborative environments, I offer unwavering support to team members. My objective is to enhance the company's success while advancing my skills and accumulating valuable experience.</p>

</div>

