<div class="progressBar"> 
  <div>
    <ul>
    <li>
     
      
      <!-- HTML5 -->
      <p style="width:90%" data-value="90">HTML5</p>
      <progress max="100" value="90" class="barColor">
        
        <div class="progress-bar">
          <span style="width: 90%">80%</span>
        </div>
      </progress>

      <p style="width:80%" data-value="80" class="boostrapBar">Bootstrap and responsive web applications - Media Queries</p>
      <progress max="100" value="80" class="barColor">
        
        <div class="progress-bar">
          <span style="width: 80%">80%</span>
        </div>

      </progress>
      <p style="width:50%" data-value="50">JQuery</p>
      <progress max="100" value="50" class="barColor">
        
        <div class="progress-bar">
          <span style="width: 50%">80%</span>
        </div>
      </progress>
      
     

      <p style="width:30%" data-value="30" class="boostrapBar">Figma</p>
      <progress max="100" value="30" class="barColor">
        
        <div class="progress-bar">
          <span style="width: 30%">30%</span>
        </div>

      </progress>
  
      
     
      
    </li>
  
  </ul>
  </div>
  <div>
    <ul >
    <li>
     
      
       <!-- HTML5 -->
       <p style="width:85%" data-value="85">CSS3</p>
       <progress max="100" value="85" class="barColor">
         
         <div class="progress-bar">
           <span style="width: 85%">85%</span>
         </div>
       </progress>

       <!-- HTML5 -->
       <p style="width:60%" data-value="60"> ANGULAR</p>
       <progress max="100" value="60" class="barColor">
         
         <div class="progress-bar">
           <span style="width: 60%">80%</span>
         </div>
       </progress>
       <!-- HTML5 -->
       <p style="width:70%" data-value="70">(OOP) with JavaScript</p>
       <progress max="100" value="70" class="barColor">
         
         <div class="progress-bar">
           <span style="width: 70%">80%</span>
         </div>
       </progress>
      
       <!-- HTML5 -->
       <p style="width:60%" data-value="60">Git and GitHub</p>
       <progress max="100" value="60" class="barColor">
         
         <div class="progress-bar">
           <span style="width: 80%">80%</span>
         </div>
       </progress>
      
      
      
     
      
    </li>
  
  </ul>
  </div>

  
</div> 
  
    <p>.</p> 
  
