
<div class="mainMarg">
  <div class="row  w-100  justify-content-between   ">
    <div class="col-lg-4">
    <div class="bg-light p-4 shadow-lg scroll-div mt-1 pb-5 ">

    


<div class="text-center border-black border-bottom">
  <img src="../assets/images/s.w.png" class="rounded-3 " style=" width: 253 px; height: 253px;">
  <h3 class="pt-2 fw-bold"> Hagar Mohamed</h3>
  <h5> Software Engineer</h5>
</div>





<div class="ms-3 mt-5">
  <ul class="list-unstyled fw-bold social-icon">
    <li class="m-1">
       <i class="fa-solid fa-user " ></i> 
      <span class="ms-1 mt-2 " >Front-end developer(Angular)</span>
    </li>
    <li  class="m-1 mt-2"> 
      <i class="fa-solid fa-location-dot"></i>
       Madina, Saudi Arabia
    
    </li>
    <li  class="m-1 mt-2 ">
     
      <i class="fa-solid fa-route" ></i>
      Egyption
    </li>
    <li  class="m-1 mt-2">
     
      <i class="fa-solid fa-envelope" ></i>
      <a href="mailto:hagar.mohmd.4@gmail.com" target="_blank" class="text-decoration-none text-dark">
        hagar.mohmd.4&#64;.com
      </a>

    </li>
   </ul>

</div>
    
<div class="d-flex justify-content-around mx-auto  icons border rounded-3" style="width: 15rem;">
 <a  href="https://www.linkedin.com/in/hagar-mohamed-b491b414a/" target="_blank">
  <i class="fa-brands fa-linkedin" style="color:#000" ></i>
 </a>
 <a  href="https://github.com/hagarmohamed124" target="_blank">
  <i class="fa-brands fa-github" style="color:#000" ></i>
 </a>
 <a href="mailto:hagar.mohmd.4@gmail.com" target="_blank">
  <i class="fa-regular fa-envelope" style="color:#000"></i>
</a>


 <a  href="https://wa.me/201117834514"  target="_blank">
  <i class="fa-brands fa-whatsapp " style="color:#000" ></i>
 </a>



</div>




  
  
<div class=" text-center">
  <a href="https://drive.google.com/file/d/1n-3EOOrgBiDheSv_xojZq7yCxJrjbisq/view?usp=sharing"  target="_blank"    class="  btn  border rounded-3  mx-auto justify-content-center align-content-center p-1 d-flex my-2 flex-column" style="width: 15rem;">
    الاعتماد المهني/الهيئة السعودية للمهندسين
    <i class="fa-solid fa-eye" ></i>

  </a>
  <a href="https://drive.google.com/file/d/1Wz398Tfx4J4ff_VAbrxiqUR_AdJVTPXZ/view?usp=sharing"  target="_blank"    class="btn btn-dowmload btn-primary " style="width: 15rem;">
    Download CV
    <i class="fa fa-download " style="color: aliceblue;"></i>
  </a>
 


</div>


    </div>
    </div>





    <div class="col-lg-8">
    <div class="p-1">
      <div class="bg-light shadow-sm rounded-5  mt-3 ">
        <nav class="navbar navbar-expand-lg bg-body-tertiary p-2 mainList">
          <div class="container-fluid">
            <a class="navbar-brand p-3 " routerLink="me"  routerLinkActive="shadow"><i class="fa-solid fa-user user" ></i></a>
        

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav  mb-2 mb-lg-0 fw-bold ">
                <li class="nav-item">
                  <a class="nav-link    active  ps-5 " aria-current="page" routerLink="about" routerLinkActive="text-primary  shadow" >Experience</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active ps-5" aria-current="page" routerLink="home" routerLinkActive="text-primary   shadow-sm">Education</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link active  ps-5" aria-current="page" routerLink="Projects" routerLinkActive="text-primary  shadow">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active  ps-5" aria-current="page" routerLink="Skills" routerLinkActive="text-primary  shadow">Skills</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active  ps-5" aria-current="page" routerLink="contact" routerLinkActive="text-primary  shadow">Contact</a>
                </li>
                
                
              </ul>
          <div class="ps-5">
            <a href="mailto:hagar.mohmd.4@gmail.com"  target="_blank"    class="btn  btn-primary  text-white rounded-5"  >
              Hire me
              <i class="fa-solid fa-location-arrow text-black"></i>
            </a>
         
          </div>
             

            </div>
          </div>
        </nav>
      </div>

      <div class="bg-white rounded-3 p-4 shadow-sm mt-3">
       
        <router-outlet></router-outlet>
    
      </div>
    </div>
     
    
    </div>
    
    
    
    
    </div>
</div>



